* {
    margin: 0;

    padding:0;
}


.main_menu {
    overflow: hidden;
    position: fixed;
    width:100%;
    top:0;
}

.main_menu ul {
    display: flex;
    top:0;
    flex-direction: row;
    align-items: center;
    list-style: none;
    background-color: white;
    border-block-end: 0.15rem solid lightblue;
}

.main_menu li{
    flex: 1 1 0;
    height: 100%;
}

.main_menu a {
    display: flex;
    text-align: center;
    text-decoration: none; 
    color:black;
    display: block;
}

.main_menu li:hover{
    background-color: lightblue;
}

.main {
    margin-top:4em;
}

@media (max-width: 300px){
    .main_menu{
        display:none;
    }
    .main {
        margin-top: 0;
    }
}

.main_article {
    margin-left:10%;
    margin-right: 10%;
    text-align: justify;
    text-indent: 2em;
}

#logo img {
    width:4em;
}

.contact_form {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "tu_info tu_info"
    "name_label name_answer"
    "phone_label phone_answer"
    "email_label email_answer"
    "message_legend message_legend"
    
    "tema_del_mensaje_label tema_del_mensaje_answer"
    "message_label message_label"
    "message_answer message_answer"
    ". submit_contact_form"
    ;
    row-gap:.5em;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
    column-gap: .5em;
}

.contact_form > legend {
    padding-top: 1em;
    color:skyblue;
    text-align: center;
}

#tu_info {
    grid-area: tu_info;
}

#name_label {
    grid-area: name_label;
}

#name_answer {
    grid-area: name_answer;
}

#phone_label {
    
    grid-area: phone_label;
}

#phone_answer {
    grid-area: phone_answer;
}

#email_label {
    grid-area: email_label;
}

#email_answer {
    grid-area: email_answer;
}

#tu_mensaje {
    grid-area: message_legend;
}

#message_label {
    text-align: left;
    grid-area: message_label;
}

#message_answer {
    grid-area: message_answer;
}

#tema_del_mensaje_label {
    grid-area: tema_del_mensaje_label;
}

#tema_del_mensaje_answer {
    grid-area: tema_del_mensaje_answer;
}

#submit_contact_form {
    
    grid-area: submit_contact_form;
}

h1 {
    text-align:center;
    color:blue;
    margin-bottom: .5em;
}

.top_of_page {
    text-align: center;
    color: white;
    border: none;
    height: 4em;
    width: 4em;
    background-color: green;
    border-radius: 50%;
    position:fixed;
    bottom:20px;
    right:10px;
    box-shadow: 0 2px 4px darkslategray;
}

.top_of_page:hover {
    height:5em;
    width:5em;
    .top_arrow {
        width:5em
    }
}

.top_arrow {
    width: 4em;
}

